<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= render_partial :title %> - <%= @subhead %></title>
    
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">

	</head>
	
	<body>
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

        <!-- Begin page content -->
        <div class="container">
            <div class="page-header">
                <h1><%= render_partial :title %> <small><%= @subhead %></small></h1>
            </div>
            <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <a class="brand" href="/">Library</a>
                  <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li><a href="/">Home</a></li>

                    <li class="divider-vertical"></li>
                    <li><a href="/add">Add item</a></li>

                    <li class="divider-vertical"></li>
                    <%= render_partial :sort %>
                    
                    <li class="divider-vertical"></li>
                    <%= render_partial :search %>

                    <li class="divider-vertical"></li>
                    <%= render_partial :signin %>
                  </ul>
                </div><!-- end of navbar-inner container -->
              </div><!-- end of navbar-inner -->
            </div> <!-- end of navbar -->
            <div id="main">
                <%= yield %>
            </div>
        </div> <!-- end of container -->
    </div> <!-- end of wrap -->

    <div id="footer">
      <div class="container">
        <p class="muted credit">Copyright 2013 <a href="http://markhnichols.com">Mark Nichols</a> </p>
      </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>

