
<table class="table table-hover" width="100%">
    <tr>
        <th>Format</th>
        <th>Composer</th>
        <th>Composition</th>
        <th>Edition</th>
        <th>Editor</th>
        <th>Price</th>
        <th>Date Added</th>
        <th>&nbsp;</th>
    </tr>

<% @books.each do |book| %>

    <tr>
        <td><%= book.type %></td>
        <td><%= book.composer %></td>
        <td><%= book.composition %></td>
        <td><%= book.edition %></td>
        <td><%= book.editor %></td>
        <td><%= book.purchase_price.to_s('F') %></td>
        <td><small><%= book.created_at %></small></td>
        <td><small><span><a href="/<%= book.id %>">[edit]</a> </span></td> 
    </tr>
<% end %>
</table>
