<% if @book %>
    <form action="/<%= @book.id %>/edit" method="post" id="edit">
        <input type="hidden" name="_method" value="put">
        <div class="control-group">
            <label class="control-label" for="type">Format</label>
            <div class="controls">
                <select name="type">
                    <optgroup label="Format">
                        <option value="Textbook" <%= "selected" if @book.type == "Textbook" %>>Textbook</option>
                        <option value="Collection" <%= "selected" if @book.type == "Collection" %>>Collection</option>
                        <option value="Sheet" <%= "selected" if @book.type == "Sheet" %>>Sheet music</option>
                        <option value="Method" <%= "selected" if @book.type == "Method" %>>Method</option>
                        <option value="Book" <%= "selected" if @book.type == "Book" %>>Book</option>
                        <option value="CD" <%= "selected" if @book.type == "CD" %>>Audio CD</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="composer">Composer</label>
            <div class="controls">
                <input class="input-xlarge" type="text" name="composer" value="<%= @book.composer %>">
            </div>
        </div>
        <div class="control-group"> 
            <label class="control-label" for="composition">Composition</label>
            <div class="controls">
                <input class="input-xxlarge" type="text" name="composition" value="<%= @book.composition %>">
            </div>
        </div>
        <div class="control-group"> 
            <label class="control-label" for="edition">Publisher</label>
            <div class="controls">
                <input class="input-xlarge" type="text" name="edition" value="<%= @book.edition %>">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="editor">Editor</label>
            <div class="controls">
                <input class="input-xlarge" type="text" name="editor" value="<%= @book.editor %>">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="price">Purchase price</label>
            <div class="controls">
                <input class="input-small" type="text" name="price" value="<%= "%.2f" % @book.purchase_price %>">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-warning" type="submit">Update</button>
                <a class="btn btn-danger" href="/<%= @book.id %>/delete">Delete</a>
                <a class="btn btn-info" href="/">Cancel</a>
            </div>
        </div>
    </form>
<% else %>
    <p>Book not found.</p>
<% end %>
